.The_toll{
  font-size:220%;
  text-align:center;
  color:#030059;
  font-family:verdana;
  border-bottom:5px solid darkblue;
  font-family: Fredoka One
  
}


.Stories{
  text-align:left;
  color: #030059;
  border-left:5px solid blue ;
  magrin-left:15px;
  font-family:League Spartan 
}

body{
 background-color:
  #f0e9b9;
  border:10px double;
  border-radius: 4px;
  border-color: #6e6635 
}


.names{
 font-size: 165%;
  color:#696006;
  margin-left:10px;
  font-family: Patua One 
}


.text{
 font-size:130%;
  margin-left: 10px;
  font-family:inter 
}

.h_words{
 text-align:center;
  color:#182e1c;
  font-family:Patua One;
  font-size:190% 
}


.table{
 text-align:center;
  margin-left: 360px;
  border: 10px ridge;
  border-color:#3c4221;
  font-family:inter;
  font-size: 130% 
}

.col1{
 border: 2px solid;
  border-color:#a88f3d;
  border-radius: 7px 
}

.col2{
 border: 2px solid;
  border-color:#c7b16d;
  border-radius: 7px 
}

.col3[
 font-family: Noto Sans Arabic;
  border: 2px solid;
  border-color:#cfbf8f
  ;border-radius: 7px
}
