.The_toll{
  font-size:220%;
  text-align:center;
  color:#030059;
  font-family:verdana;
  border-bottom:5px solid darkblue;
  font-family: Fredoka One
  
}


.Stories{
  text-align:left;
  color: #030059;
  border-left:5px solid blue ;
  magrin-left:15px;
  font-family:League Spartan 
}


